<h1>Edit profile for <%= @user.name %></h1>

<h2>Social Accounts</h2>

<% @providers.each do |provider| %>
  <% if current_user.has_provider?(provider) %>
    <%= link_to "Connect #{provider.to_s.titleize}", "/auth/#{provider}" %>
  <% else %>
    <%= link_to "Disconnect",
                social_account_path(current_user.with_provider(provider)),
                method: :delete %>
  <% end %>
<% end %>
